.auth-page {
  min-width: 1400px;
  max-width: 1920px; }
  .auth-page__header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #0f255d;
    color: #e7bb41;
    opacity: 0.9;
    box-shadow: 0 0 19px 6px #00071e; }
    .auth-page__header-logo {
      font-family: "Nunito", sans-serif;
      width: 400px;
      cursor: pointer; }
  .auth-page__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px; }
    .auth-page__content-modal {
      background-color: #00071e;
      width: 80%;
      height: 800px;
      align-self: center; }
    .auth-page__content-friends {
      width: 20%;
      background-color: #6d9dc5;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .auth-page__content-friends-label {
        display: flex;
        height: 100px;
        border-bottom: black solid thin; }
        .auth-page__content-friends-label-value {
          font-size: 40px;
          margin: auto;
          color: #e5f4e3;
          font-family: "Crimson Text", sans-serif; }
      .auth-page__content-friends-item {
        height: 100px;
        margin: 5px;
        display: flex;
        justify-content: space-around;
        background-color: #e7a516;
        border-radius: 5px; }
        .auth-page__content-friends-item-avatar {
          width: 80px;
          height: 80px;
          align-self: center;
          opacity: 1;
          border-radius: 15px; }
        .auth-page__content-friends-item-login {
          display: flex;
          width: 200px; }
          .auth-page__content-friends-item-login-value {
            margin: auto;
            font-size: 30px;
            color: #e5f4e3; }
        .auth-page__content-friends-item-image {
          align-self: center;
          width: 30px;
          height: 30px;
          cursor: pointer; }
  .auth-page__user-info {
    flex-basis: 20%;
    background-color: #6d9dc5;
    display: flex;
    flex-flow: row;
    justify-content: space-around; }
    .auth-page__user-info-avatar {
      width: 80px;
      height: 80px;
      align-self: center;
      opacity: 1;
      border-radius: 15px; }
    .auth-page__user-info-stat-block {
      display: flex;
      flex-flow: row wrap;
      width: 200px;
      justify-content: space-around; }
      .auth-page__user-info-stat-block-login {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        border-bottom: black thin solid; }
        .auth-page__user-info-stat-block-login-value {
          margin: 0;
          font-size: 30px;
          color: #e5f4e3;
          align-self: center; }
      .auth-page__user-info-stat-block-stats {
        width: 90px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-around; }
        .auth-page__user-info-stat-block-stats-image {
          align-self: center;
          width: 30px;
          height: 30px; }
        .auth-page__user-info-stat-block-stats-data {
          display: flex; }
          .auth-page__user-info-stat-block-stats-data-value {
            margin: auto;
            font-size: 20px;
            color: white; }
    .auth-page__user-info-settings {
      display: flex;
      margin-right: 5px; }
      .auth-page__user-info-settings-value {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: auto; }
