$headers-font: 'Nunito', sans-serif;
$header-background: #0f255d;
$header-text-color: #e7bb41;

$main-font: 'Crimson Text', sans-serif;
$blocks-background: #143f6b;
$blocks-text-color: #e5f4e3;


.auth-page {
  min-width: 1400px;
  max-width: 1920px;
  &__header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: $header-background;
    color: $header-text-color;
    opacity: 0.9;
    box-shadow: 0 0 19px 6px #00071e;
    &-logo {
      font-family: $headers-font;
      width: 400px;
      cursor: pointer;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
    //height: 100vh;

    &-modal {
      background-color: #00071e;
      flex-basis: 80%;
      height: 800px;
      align-self: center;

    }

    &-friends {
      flex-basis: 20%;
      background-color: #6d9dc5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-label {
        display: flex;
        height: 100px;
        border-bottom: black solid thin;
        justify-content: center;
        &-value {
          font-size: 40px;
          margin: 0;
          align-self: center;
          color: $blocks-text-color;
          font-family: $main-font;
        }
      }
      &-item {
        height: 100px;
        margin: 5px;
        display: flex;
        justify-content: space-around;
        background-color: #e7a516;
        border-radius: 5px;
        &-avatar {
          width: 80px;
          height: 80px;
          align-self: center;
          opacity: 1;
          border-radius: 15px;
        }
        &-login {
          display: flex;
          width: 200px;
          justify-content: center;
          &-value {
            margin: 0;
            font-size: 30px;
            color: $blocks-text-color;
            align-self: center;
            //border-bottom: black thin solid;
          }
        }
        &-image {
          align-self: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }

  &__user-info {
    flex-basis: 20%;
    background-color: #6d9dc5;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    &-avatar {
      width: 80px;
      height: 80px;
      align-self: center;
      opacity: 1;
      border-radius: 15px;
    }

    &-stat-block {
      display: flex;
      flex-flow: row wrap;
      width: 200px;
      justify-content: space-around;
      &-login {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        border-bottom: black thin solid;
        &-value {
          margin: 0;
          font-size: 30px;
          color: $blocks-text-color;
          align-self: center;
        }
      }
      &-stats {
        width: 90px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-around;

        &-image {
          align-self: center;
          width: 30px;
          height: 30px;
        }
        &-data {
          display: flex;
          &-value {
            margin: auto;
            font-size: 20px;
            color: white;

          }
        }
      }
    }
    &-settings {
      display: flex;
      margin-right: 5px;
      &-value {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: auto;
      }
    }

  }
}

