$headers-font: 'Nunito', sans-serif;
$header-background: #0f255d;
$header-text-color: #e7bb41;

$main-font: 'Crimson Text', sans-serif;
$blocks-background: #143f6b;
$blocks-text-color: #e5f4e3;

.auth-page {
  animation: fadeIn 1.5s;
  min-width: 1400px;
  max-width: 1920px;
  &__header {
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;

    &-modal {
      background-color: #00071e;
      width: 80%;
      height: 800px;
      align-self: center;
    }


  }

}

.friends {
  width: 20%;
  background-color: #6d9dc5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-label {
    display: flex;
    height: 100px;
    border-bottom: black solid thin;
    &-value {
      font-size: 40px;
      margin: auto;
      color: $blocks-text-color;
      font-family: $main-font;
    }
  }
  &-item {
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #e7a516;
    border-radius: 5px;
    &-avatar {
      width: 80px;
      height: 80px;
      align-self: center;
      opacity: 1;
      border-radius: 15px;
    }
    &-login {
      display: flex;
      width: 200px;
      &-value {
        margin: auto;
        font-size: 30px;
        color: $blocks-text-color;
      }
    }
    &-image {
      align-self: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}


