.auth-page {
  animation: fadeIn 1.5s;
  min-width: 1400px;
  max-width: 1920px; }

.auth-page__header {
  justify-content: space-between; }

.auth-page__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 150px; }

.auth-page__content-modal {
  background-color: #143f6b;
  width: 70%;
  height: 700px;
  align-self: center;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 2px #00072d;
  opacity: 0.95;
  display: flex;
  flex-direction: column; }

.auth-page__content-modal-data {
  align-self: center;
  display: flex;
  width: 100%;
  height: 630px;
  justify-content: center; }

.friends {
  width: 20%;
  background-color: #143f6b;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  height: 700px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 2px #00072d; }

.friends-label {
  display: flex;
  height: 60px;
  border-bottom: black solid thin;
  background-color: #0f255d;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px; }

.friends-label-value {
  font-size: 40px;
  margin: auto;
  color: #e5f4e3;
  font-family: "Crimson Text", sans-serif;
  user-select: none; }

.friends-item {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #143f6b;
  border-radius: 5px;
  border-bottom: thin solid black; }

.friends-item-avatar {
  width: 80px;
  height: 80px;
  align-self: center;
  opacity: 1;
  border-radius: 15px; }

.friends-item-login {
  display: flex;
  width: 200px; }

.friends-item-login-value {
  margin: auto;
  font-size: 30px;
  color: #e5f4e3;
  user-select: none; }

.friends-item-image {
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.modal-header {
  width: 100%;
  height: 60px;
  background-color: #0f255d;
  border-radius: 25px;
  display: flex;
  justify-content: space-between; }

.modal-header__point {
  height: 60px;
  flex-grow: 1;
  flex-basis: 300px;
  display: flex;
  user-select: none;
  background-color: #0f255d;
  cursor: pointer;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black; }

.modal-header__point:hover {
  background-color: #1956a8; }

.modal-header__point:active {
  background-color: #131b44; }

.modal-header__point:first-child {
  border-top-left-radius: 25px;
  border-left: none; }

.modal-header__point:last-child {
  border-top-right-radius: 25px;
  border-right: none; }

.modal-header__point-value {
  font-size: 40px;
  margin: auto;
  color: #e5f4e3; }

.party-lay {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px; }

.party {
  width: 450px;
  height: 100px;
  display: flex;
  background-color: #143f6b;
  box-shadow: 4px 4px 10px 2px #00072d;
  border-radius: 25px;
  border-left: thin solid black;
  border-right: thin solid black;
  justify-content: space-around; }

.party-friend {
  display: flex;
  justify-content: center; }

.party-friend-logo {
  align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 15px; }

.party-invite {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 100px; }

.party-invite-button {
  user-select: none;
  cursor: pointer;
  margin: auto;
  width: 64px;
  height: 64px; }

.scoreboard {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center; }

.scoreboard__pagination {
  margin-top: 25px;
  width: 450px;
  display: flex;
  align-self: center;
  justify-content: space-around; }
