$headers-font: 'Nunito', sans-serif;
$header-background: #0f255d;
$header-text-color: #e7bb41;

$main-font: 'Crimson Text', sans-serif;
$blocks-background: #143f6b;
$blocks-text-color: #e5f4e3;

body {
  overflow-x: hidden;
  margin: 0;
}


.background {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url("../../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(12px);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.1);
}

.main-page {
  display: flex;
  animation: fadeIn 1.5s;
  min-width: 1400px;
  max-width: 1920px;
  &__header {
    justify-content: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    //width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    height: 100vh;
    justify-content: space-around;
    align-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    &-description {
      opacity: 0.9;
      padding: 17px 47px;
      background-color: $blocks-background;
      border-radius: 15px;
      box-shadow: 4px 4px 10px 2px #00072d;
      cursor: default;

      &:hover {
        animation: shining 3s ease infinite;
      }
    }
    &-divider {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &-trailer {
      opacity: 0.9;
      height: 400px;
      background-color: $blocks-background;
      box-shadow: 4px 4px 10px 2px #00072d;

      & iframe {
        width: 100%;
        height: 100%;
      }

      &:hover {
      box-shadow: 0 0 10px 4px #bcdafb;
      }
    }
  }

  &__menu {
    //display: flex;
    align-self: center;
    opacity: 0.9;
    width: 30%;
    background-color: $blocks-background;
    color: $blocks-text-color;
    border-radius: 25px;
    box-shadow: 4px 4px 10px 2px #00072d;
    animation: shining 3s ease infinite;

    &-point {
      display: flex;
      height: 200px;
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      border-bottom: black thin solid;
      &:hover {
        background-color: #1956a8;
      }
      &:active {
        background-color: #131b44;
      }
      &:first-child {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
      &:last-child {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      &-text {
        font-size: 46px;
        font-family: $main-font;
        margin: auto;
      }
    }
  }
  &__footer {
  }
}

.footer {
  position: absolute;
  width: 100%;
  opacity: 0.8;
  background-color: black;
  height: 60px;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  &__content {
    color: white;
    font-size: 24px;
    align-self: center;
  }
}

.logo {
  display: inline-block;
  &__text {
    opacity: 1;
    font-size: 60px;
  }
}

.text {
  color: $blocks-text-color;
  &__data {
    font-family: $main-font;
    font-size: 32px;
  }
}




@keyframes shining {
0% {
  box-shadow: 0px 0px 10px 6px #c7fbff;
}
50% {
  box-shadow: 0px 0px 10px 10px #c7fbff;
  }
100% {
  box-shadow: 0px 0px 10px 6px #c7fbff;
   }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}